@model EmpleadosViewModel
@{
    ViewData["Title"] = "Empleado";
}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Lista de empleados
    </div>
    <div class="card-body">
        <table class="table">
            <thead align="center">
                <tr>
                    <th>Identificador</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Código</th>
                    <th>Rol</th>
                    <th>Sede</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody align="center">
               @if (Model.Empleados.Count()!=0)
                {
                    foreach (var item in Model.Empleados)
                    {
                     <tr>
                        <td>@Html.DisplayFor(x=>item.Id)</td>
                        <td>@Html.DisplayFor(x=>item.Nombre)</td>
                        <td>@Html.DisplayFor(x=>item.Apellido)</td>
                        <td>@Html.DisplayFor(x=>item.Codigo)</td>
                        <td>@Html.DisplayFor(x=>Model.listaSedes.Where(x=>x.Id==item.Sede).First().Nombre)</td>
                        <td>@Html.DisplayFor(x=>Model.listaRoles.Where(x=>x.Id==item.Rol).First().Descripcion)</td>

                        
                        <td>
                            <a  asp-action="Edit" class="btn" asp-route-id="@item.Id">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a class="btn" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fa-solid fa-user-xmark"></i>
                            </a>
                        </td>
                    </tr>
 
                    }
                }
            </tbody>
        </table>
    </div>
</div>